<?xml version="1.0"?>

<configuration description="Configuration settings for Subnant">

    <svn-bindir
        description="Location of Subversion binary files"
        conditional="If empty assume Subversion binaries already in environment path"></svn-bindir>

    <svn-repos description="Repository settings">
        <svn-root
            description="Root location of repositories"
            conditional="Must exist in file system">/svnroot/repos</svn-root>
        <fs-type
            description="Type of repository"
            conditional="'bdb' or 'fsfs'">bdb</fs-type>
        <config-dir
            description="Read user configuration files from directory"
            conditional="If empty assume default configuration file"></config-dir>
        <bdb-log-keep 
            description="Disable automatic log file removal [Berkeley DB]" 
            conditional="'true' or 'false'">false</bdb-log-keep>
        <bdb-txn-nosync 
            description="Disable fsync at transaction commit [Berkeley DB]"
            conditional="'true' or 'false'">false</bdb-txn-nosync>
    </svn-repos>

    <svn-dumps description="Repository dump settings">
        <dump-root
            description="Root location of repository dumps"
            conditional="Must exist in file system">/svnroot/dumps</dump-root>
        <compress
            description="Compress dump files"
            conditional="'false' or compression level '0' (store only) to '9' (highest)">6</compress>
        <incremental
            description="Dump incrementally"
            conditional="'true' or 'false'">false</incremental>
        <deltas
            description="Use deltas in dump output"
            conditional="'true' or 'false'">false</deltas>
        <last-highest-revision
            description="Highest revision number last dumped by Subnant for each repository"
            conditional="Updated by Subnant or if set manually must be valid repository revision number">
            <!-- <example-repo>0</example-repo> -->
        </last-highest-revision>
    </svn-dumps>

    <mail description="Email settings">
        <from description="Email sent from this address">subnant@example.com</from>
        <host description="Host used to send email">localhost</host>
        <tolist
            description="Addresses mailed result of Subnant target execution"
            conditional="Comma separated list of email addresses">svnadmin@example.com</tolist>
            <!-- ::TODO:: Use <to> elements when NAnt <foreach> task supports xpath -->
            <!-- <to>svnadmin@example.com</to> -->
            <!-- <to>support@example.com</to> -->
        <prefix description="Subject prefix for email generated by Subnant target">[Subnant]</prefix>
        <target
            description="Email sent on success and/or failure of target execution"
            conditional="'true' or 'false' or 'onfail'">
            <!-- 'true'   - send email on success or failure          -->
            <!-- 'false'  - send no email (default if no value set)   -->
            <!-- 'onfail' - send email on failure of target execution -->
            <commit-access>onfail</commit-access>
            <commit-email>onfail</commit-email>
            <dump>true</dump>
            <verify>true</verify>
        </target>
    </mail>

    <bugtraq description="Bugtraq settings">
        <message
            description="Bugtracking log message format"
            conditional="Must contain '%BUGID%'">Issue : %BUGID%</message>
        <append
            description="Append bugtracking message to end of log" 
            conditional="'true' or 'false'">true</append>
        <url
            description="URL of bugtracking tool"
            conditional="Must be valid URL and contain '%BUGID%'">http://localhost/show_bug.cgi?id=%BUGID%</url>
        <label
            description="Label shown next to input of issue number"
            conditional="Length should be kept to less than 25 characters">Bug-ID / Issue-Nr:</label>
        <number
            description="Only allow numbers in issue number"
            conditional="'true' or 'false'">true</number>
        <warnifnoissue
            description="Warn on empty issue number"
            conditional="'true' or 'false'">false</warnifnoissue>
        <logregex
            description="One or two regular expressions, separated by a newline"
            conditional="Valid regex"></logregex>
    </bugtraq>

</configuration>
