@echo off

REM PRE-COMMIT HOOK - Details in repos/hooks/pre-commit.tmpl
REM
REM Visit http://subnant.berlios.de for details on command below

subnant check-case-insensitive commit-message -D:repos=%1 -D:txn=%2