@echo off

REM PRE-REVPROP-CHANGE HOOK - Details in repos/hooks/pre-revprop-change.tmpl
REM
REM Visit http://subnant.berlios.de for details on command below

subnant revprop-access -D:repos=%1 -D:rev=%2 -D:user=%3 -D:propname=%4 -D:action=%5
