@echo off

REM PRE-COMMIT HOOK - Details in repos/hooks/pre-commit.tmpl
REM
REM Visit http://subnant.berlios.de for details on command below

subnant commit-message commit-access -D:repos=%1 -D:txn=%2