#!/bin/sh

# PRE-COMMIT HOOK - Details in repos/hooks/pre-commit.tmpl
#
# Subversion has no environment variables set when hooks are executed,
# Subnant requires PKG_CONFIG_PATH set, so modify export to suit

export PKG_CONFIG_PATH="/usr/lib/pkgconfig"

# Visit http://subnant.berlios.de for details on command below

subnant commit-message commit-access -D:repos="$1" -D:txn="$2"